 html{color:white;background-color:black;font-family: Arial;} 
 
#container {height:1400px; width:1600px; margin:0 auto; background: grey; border:solid 2px white; } 

     #header {margin:0 auto; text-align:center; border-bottom:3px solid white;  } 

         #top_info {float:right; font-size: 4em; height:100px; width:1488px; margin: 0 auto; background-color: red; border: 3px solid white;} 

         #logo {float:left; font-size: 2em; height:100px; width:100px; margin: 0 auto; background-color: black; border: 3px solid white; }
   
         #navbar { height:20px; clear:both; background-color:none; } 
		 #navbar ul { margin:0; padding:0; list-style-type:none; } 
		 #navbar ul li { padding:5px; float:left; height:10px; width;5px;border-color border-radius:5px; background-color:red;margin:0px 20px 0px 20px  } 
		 #navbar ul li a { font-size:12px; float:left; float:left; padding:0 0 0 20px; display:block; } 
		 
		 #banner { background:white; height:200px; background-color:blue; clear:both; border:3px solid white; margin: 0px 10px 0px 10px; font-size:10em; } 
		 
		 #left_col { float:left; width:750px; height:900px; border:3px solid white; font-color:white; background-color:black; padding:10px; margin: 10px 0px 0px 10px;} 
         #right_col { float:right; width:750px; height:900px; border:3px solid white; font-color:white; background-color:black; padding:10px; margin: 10px 10px 0px 0px;}
     
	 
















/* {Below is a button}*/ 
/*div { height:50px; width:120px; border-color:#6495ED; background-color:#BCD2EE; border-radius:5px; margin:auto; text-align:center}*/ 
 
/* {Below's selector can alter the entire webpage}*/ 
/* 
*{border:2px} 
*/  








/* {Below is a cirlcle} */ 
/* div {
	display: inline-block;
	margin-left: 5px; height:100px; width:100px; border-radius:100%; border:2px solid black; 
	
} */ 
